@@include('inc/header.html')

<div id="app" class="page">

	<section class="layout single article">

		<div class="wrapper">

			<article class="row">

				<div class="float">
					<!-- <div class="image-wrapper">
						<div class="background-image" style="background-image: url('assets/img/iStock-906043636.jpg');">
							<img class="visually-hide-image" src="assets/img/iStock-906043636.jpg" alt="">
						</div>
					</div> -->
					<div class="slider-wrapper">
						<div class="blog-slider">
							<div class="slide" v-for="n in 6">
								<img class="image" src="assets/img/iStock-906043636.jpg" alt="">
							</div>
						</div>
						<div class="blog-slider-nav">
							<div class="slide" v-for="n in 6">
								<img class="image" src="assets/img/iStock-906043636.jpg" alt="">
							</div>
						</div>
					</div>
				</div>

				<div class="heading">
					<ul class="details one-line">
						<li><h1 class="h2 title">Blog Article Title Or Story Headline Will Be Placed Here.</h1></li>
						<li><time datetime="2019-09-10" class="p">September 10, 2019</time></li>
						<li><a href="javascript:void(0)" class="p">Author Name</a></li>
						<li><a href="javascript:void(0)" class="p">Category Title</a></li>
					</ul>
				</div>

				<div class="content">
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

					<p>Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<blockquote>“Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</blockquote>
					<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.</p>
					<ul>
						<li>Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Donec sed odio dui.</li>
						<li>Maecenas faucibus mollis interdum.</li>
						<li>Maecenas faucibus mollis interdum.</li>
					</ul>
					<img class="alignleft" src="https://via.placeholder.com/630x450" alt="This is alt text.">
					<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
					<ol>
						<li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
						<li>Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
						<li>Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</li>
					</ol>
					<img class="alignright" src="https://via.placeholder.com/400x500" alt="This is alt text.">
					<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
					<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.</p>
				</div>

			</article>

			<div class="pagination buttons">
				<a class="btn prev" href="javascript:void(0)"><span>Previous Article</span></a>
				<ul class="social">
					<li class="label">Share</li>
					<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				</ul>
				<a class="btn next" href="javascript:void(0)"><span>Next Article</span></a>
			</div>

		</div>

	</section>

	<!-- Related articles slider -->
	<!-- @@include('layouts/listing-article-slider.html') -->
	<section id="listing-article-slider" class="layout listing article slider background story-line-bottom">
		<div class="wrapper">
			<div class="row">
				<div class="intro">
					<h1 class="h2 title">Related Articles</h1>
				</div>
				<div class="glide-wrapper">
					<div class="glide glide-1">
						<div data-glide-el="track" class="glide__track">
							<ul class="item-list glide__slides">
								<li class="item glide__slide" v-for="n in 3">
									@@include('layouts/article-item.html')
								</li>
							</ul>
						</div>
						<div class="glide__arrows" data-glide-el="controls">
							<button class="glide__arrow glide__arrow--left" data-glide-dir="<"><span class="left-triangle"></span></button>
							<button class="glide__arrow glide__arrow--right" data-glide-dir=">"><span class="right-triangle"></span></button>
						</div>
						<div class="glide__bullets" data-glide-el="controls[nav]">
							<button class="glide__bullet" data-glide-dir="=0"></button>
							<button class="glide__bullet" data-glide-dir="=1"></button>
							<button class="glide__bullet" data-glide-dir="=2"></button>
							<button class="glide__bullet" data-glide-dir="=3"></button>
							<button class="glide__bullet" data-glide-dir="=4"></button>
							<button class="glide__bullet" data-glide-dir="=5"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

@@include('inc/footer.html')
