.layout.cards {
	// Global
	.item-list {
		@media screen and ($tablet) {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		.item {
			width: 300px;
			margin-bottom: 30px;
			&:last-child {
				@media screen and (max-width: 759px) {
					margin-bottom: 60px;
				}
			}
			@media screen and (max-width: 759px) {
				margin-left: auto;
				margin-right: auto;
			}
			@media screen and ($tablet) {
				flex: 0 0 300px;
				display: flex;
				justify-content: center;
				align-self: stretch;
				flex-direction: column;
				margin-bottom: 60px;
			}
			&:hover {
				.item-wrapper {
					box-shadow: $drop-shadow;
				}
				z-index: 1;
			}
			.item-wrapper {
				padding: 50px 30px;
				background-color: $white;
				transition: box-shadow $base-duration $base-timing;
				box-shadow: $drop-shadow;
				@media screen and ($tablet) {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					height: 100%;
					box-shadow: none;
				}
			}
			.title,
			.date,
			.content,
			.buttons {
				width: 100%;
				max-width: 100%;
			}
			.title {
				font-size: 25px;
			}
			.date {
				display: block;
				padding-bottom: 20px;
			}
			.buttons {
				display: block;
				min-width: 100%;
				padding-top: 20px;
				@media screen and ($tablet) {
					flex: 1 0 0;
					align-items: flex-end;
					display: flex;
				}
				.btn {
					margin-bottom: 0;
				}
			}
			p {
				margin-top: 0;
				margin-bottom: 10px;
			}
		}
	}

	&.background {
		.row {
			position: relative;
		}
		.intro {
			width: 100%;
			padding: 0px 60px;
			margin-bottom: -50px;
			text-align: center;
			@media screen and ($tablet) {
				margin-bottom: -55px;
			}
		}
		.content-wrapper {
			padding: 30px 15px 0;
			background-color: #f8f1e3;
			@media screen and ($tablet) {
				padding: 30px 30px 0;
			}
			.description {
				max-width: 700px;
			    margin: 0 auto;
				text-align: center;
			}
			.item-list {
				padding-top: 30px;
				@media screen and (max-width: 759px) {
					padding-bottom: 1px;
				}
			}
		}
	}

	&.col-2 {
		.item {
			flex: 0 0 300px;
			width: auto;
			max-width: 400px;
			@media screen and ($tablet) {
				flex: 0 0 50%;
				max-width: 50%;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}

	&.col-3 {
		.item {
			flex: 0 0 300px;
			width: auto;
			max-width: 400px;
			@media screen and ($tablet) {
				flex: 0 0 50%;
				max-width: 50%;
				padding-left: 30px;
				padding-right: 30px;
			}
			@media screen and ($laptop) {
				flex: 0 0 calc(1/3 * 100%);
				max-width: calc(1/3 * 100%);
			}
		}
	}

	&.text-align {
		&-left {
			.item {
				text-align: left;
			}
			.buttons {
				.btn {
					margin-right: auto;
				}
			}
		}
		&-center {
			.item {
				text-align: center;
			}
			.date {
				margin-left: auto;
				margin-right: auto;
			}
			.buttons {
				justify-content: center;
				.btn {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		&-right {
			.item {
				text-align: right;
			}
			.date {
				margin-left: auto;
			}
			.buttons {
				justify-content: flex-end;
				.btn {
					margin-left: auto;
				}
			}
		}
	}
}
