/* AOS Custom Animation */

[data-aos="draw"] {
	transform: scaleY(0);
	transition-property: transform;
	transform-origin: top;
	&.aos-animate {
		transform: scaleY(1);
		transition-property: transform;
		transform-origin: top;
	}
}

[data-aos="draw-ltor"] {
	transform: scaleX(0);
	transition-property: transform;
	transform-origin: left;
	&.aos-animate {
		transform: scaleX(1);
		transition-property: transform;
		transform-origin: left;
	}
}

.story-line {
	position: relative;
	top: -110px;
	z-index: 1;
	@media screen and (max-width: 660px) {
		top: -80px;
	}
	&:after {
		content: '';
		display: block;
		width: 1px;
		height: 220px;
		position: absolute;
		top: 0;
		left: calc(50% - 0.5px);
		background-color: $gold;
		z-index: 1;
		@media screen and (max-width: 660px) {
			height: 160px;
		}
	}
}
