<section id="accordions-list-view" class="layout accordion list-view">
	<h2 class="style-title">Accordions List View</h2>
	<div class="component intro">
		<div class="wrapper">
			<h1 class="h2 subtitle">What you can expect in Hospice Care.</h1>
		</div>
	</div>
	<div class="description">
		<div class="wrapper">
			<p>Hospice is for people who have been terminally diagnosed with an expected 6 months or less. It is completely covered by Medicare and it has proven time after time to improve the quadivty of divfe for patient and family. Typically speaking the sooner
				we can engage, the better the outcomes. We’ve heard story after story about how gratefdiv famidives are for choosing Hospice Care and all that comes with it.</p>
		</div>
	</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="accordion-menus">
					<a class="accordion-title h4 active" data-tab="1" href="javascript:void(0)">Standard</a>
					<div class="accordion-menu active" data-tab="1">
						<div class="accordion-nav-item active" data-accordion="1"><a href="javascript:void(0)">Grief Counseling</a></div>
						<div class="accordion-nav-item" data-accordion="2"><a href="javascript:void(0)">Respite Care</a></div>
						<div class="accordion-nav-item" data-accordion="3"><a href="javascript:void(0)">Spiritual Support</a></div>
						<div class="accordion-nav-item" data-accordion="4"><a href="javascript:void(0)">Pain & Symptom Management</a></div>
						<div class="accordion-nav-item" data-accordion="5"><a href="javascript:void(0)">Medication Management</a></div>
						<div class="accordion-nav-item" data-accordion="6"><a href="javascript:void(0)">24/7 Phone Support</a></div>
						<div class="accordion-nav-item" data-accordion="7"><a href="javascript:void(0)">Medical Team</a></div>
						<div class="accordion-nav-item" data-accordion="8"><a href="javascript:void(0)">Volunteer Team</a></div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="accordion-groups">
					<div class="accordion-group active" data-tab="1">
						<details class="accordion-item" open data-accordion="1">
							<summary>Grief Counseling</summary>
							<p class="accordion-content">Grieving is as much a part of our lives as living and dying. Many of us, however, won’t seek help following a devastating loss. Hosparus is so committed to grief counseling that we offer services at no cost for up to 13 months after the death
								of a loved one. This includes pre-death counseling for anticipated deaths.</p>
						</details>
						<details class="accordion-item" open data-accordion="2">
							<summary>Respite Care</summary>
							<p class="accordion-content">Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="3">
							<summary>Spiritual Support</summary>
							<p class="accordion-content">Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="4">
							<summary>Pain & Symptom Management</summary>
							<p class="accordion-content">Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="5">
							<summary>Medication Management</summary>
							<p class="accordion-content">Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="6">
							<summary>24/7 Phone Support</summary>
							<p class="accordion-content">Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="7">
							<summary>Medical Team </summary>
							<p class="accordion-content">Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="8">
							<summary>Volunteer Team</summary>
							<p class="accordion-content">Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
