<section id="accordions-tab-view" class="layout accordion tab-view-backup">
	<div class="wrapper">
		<h2 class="style-title">Accordions Tab View</h2>
		<div class="row">
			<!-- <div class="intro">
				<h1 class="title">What you can expect in Hospice Care.</h1>
				<div class="content">
					<p>Hospice is for people who have been terminally diagnosed with an expected 6 months or less. It is completely covered by Medicare and it has proven time after time to improve the quality of life for patient and family. Typically speaking the sooner
						we can engage, the better the outcomes. We’ve heard story after story about how grateful families are for choosing Hospice Care and all that comes with it.</p>
				</div>
			</div> -->
			<ul class="accordion-menu">
				<li class="h4 accordion-title active" data-tab="1"><a href="javascript:void(0)">Standard</a></li>
				<li class="h4 accordion-title" data-tab="2"><a href="javascript:void(0)">Specialty</a></li>
			</ul>
			<div class="accordions">
				<div class="accordion-wrapper active" data-tab="1">
					<ul class="accordion-nav">
						<li class="accordion-nav-title hidden">Standard</li>
						<li class="accordion-nav-item active" data-accordion="1"><a href="javascript:void(0)">Grief Counseling</a></li>
						<li class="accordion-nav-item" data-accordion="2"><a href="javascript:void(0)">Respite Care</a></li>
						<li class="accordion-nav-item" data-accordion="3"><a href="javascript:void(0)">Spiritual Support</a></li>
						<li class="accordion-nav-item" data-accordion="4"><a href="javascript:void(0)">Pain & Symptom Management</a></li>
						<li class="accordion-nav-item" data-accordion="5"><a href="javascript:void(0)">Medication Management</a></li>
						<li class="accordion-nav-item" data-accordion="6"><a href="javascript:void(0)">24/7 Phone Support</a></li>
						<li class="accordion-nav-item" data-accordion="7"><a href="javascript:void(0)">Medical Team</a></li>
						<li class="accordion-nav-item" data-accordion="8"><a href="javascript:void(0)">Volunteer Team</a></li>
					</ul>
					<div class="accordion-group">
						<details class="accordion-item active" open data-accordion="1">
							<summary class="h3">Grief Counseling</summary>
							<p>Grieving is as much a part of our lives as living and dying. Many of us, however, won’t seek help following a devastating loss. Hosparus is so committed to grief counseling that we offer services at no cost for up to 13 months after the death
								of a loved one. This includes pre-death counseling for anticipated deaths.</p>
						</details>
						<details class="accordion-item" open data-accordion="2">
							<summary class="h3">Respite Care</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="3">
							<summary class="h3">Spiritual Support</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="4">
							<summary class="h3">Pain & Symptom Management</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="5">
							<summary class="h3">Medication Management</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="6">
							<summary class="h3">24/7 Phone Support</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="7">
							<summary class="h3">Medical Team </summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="8">
							<summary class="h3">Volunteer Team</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
					</div>
				</div>
				<div class="accordion-wrapper" data-tab="2">
					<ul class="accordion-nav">
						<li class="accordion-nav-title hidden">Specialty</li>
						<li class="accordion-nav-item" data-accordion="1"><a href="javascript:void(0)">Title here</a></li>
						<li class="accordion-nav-item" data-accordion="2"><a href="javascript:void(0)">Title here</a></li>
						<li class="accordion-nav-item" data-accordion="3"><a href="javascript:void(0)">Title here</a></li>
						<li class="accordion-nav-item" data-accordion="4"><a href="javascript:void(0)">Title here</a></li>
						<li class="accordion-nav-item" data-accordion="5"><a href="javascript:void(0)">Title here</a></li>
					</ul>
					<div class="accordion-group">
						<details class="accordion-item active" open data-accordion="1">
							<summary class="h3">Grief Counseling</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="2">
							<summary class="h3">Respite Care</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="3">
							<summary class="h3">Spiritual Support</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="4">
							<summary class="h3">Pain & Symptom Management</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="5">
							<summary class="h3">Medication Management</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="6">
							<summary class="h3">24/7 Phone Support</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="7">
							<summary class="h3">Medical Team </summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
						<details class="accordion-item" open data-accordion="8">
							<summary class="h3">Volunteer Team</summary>
							<p>Duis aute irure dolor in reprehenderit in voluptate.</p>
						</details>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
