<section id="basic-content" class="layout basic-content col-1 background story-line-top story-line-bottom">
	<h2 class="style-title">Basic Content</h2>
	<div class="inner-wrapper">
		<div class="component intro">
			<h1 class="title">Title</h1>
			<h2 class="h2 subtitle">Basic content layout.</h2>
		</div>
		<div class="wrapper">
			<div class="row">
				<div class="col">
					<div class="content">
						<p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</p>
						<div class="buttons">
							<a href="javascript:void(0)" class="btn"><span>Learn More</span></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
