<section id="hero-style-3" class="layout hero style-3">
	<div class="wrapper">
		<h2 class="style-title">Hero Style Three</h2>
		<div class="row">
			<div class="col">
				<div class="content-wrapper">
					<div class="component intro">
						<h1 class="title">Title here</h1>
						<h2 class="h2 subtitle">Your life story is still yours to write.</h2>
					</div>
					<div class="image-wrapper">
						<div class="background-image" style="background-image: url('https://via.placeholder.com/630x450');">
							<img class="visually-hide-image" src="https://via.placeholder.com/630x450" alt="">
						</div>
                        <p class="caption">Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					</div>
					<div class="content">
						<p>Hospice care is an often misunderstood service. But it’s really just a choice of how you want to live your final chapters. Some people choose to nobly fight on the face of overwhelming odds and some people choose a path where they can live the rest
							of their lives enjoying more quality moments with family and friends. If you or a loved one are more likely to choose the latter path, we’re here for you.</p>
							<div class="buttons">
								<a class="btn" href="javascript:void(0)"><span>Button One</span></a>
								<a class="btn" href="javascript:void(0)"><span>Button Two</span></a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
