<section id="hero-cards" class="layout hero style-cards story-line-bottom">
	<div class="wrapper">
		<h2 class="style-title">Hero Style Cards</h2>
		<div class="row">
			<div class="col">
				<div class="intro">
					<div class="intro-wrapper">
						<h1 class="h2 subtitle">Create<br>more moments.</h1>
						<div class="content">
							<p>The earlier you talk to us, the more we can help you or your loved one create more good moments and more good memories. Whether that means six months or three years, let us help you get the most out of you or your loved one’s life at every stage.</p>
						</div>
						<div class="buttons">
							<a href="javascript:void(0)" class="btn btn-start"><span>Explore Our Services</span></a>
						</div>
					</div>
				</div>
				<div class="item-wrapper hide focus">
					<div class="nav-link">
						<a class="back-btn" href="javascript:void(0)">Back</a>
					</div>
					<ul class="item-list">
						<!-- <li class="item" v-for="n in 4">
							@@include('../items/hero-card.html')
						</li> -->
						<li class="item">
							<div class="link">
								<button class="close-btn" type="close"><i class="fal fa-plus"></i></button>
								<div class="item-content">
									<div class="image-wrapper">
										<div class="background-image" style="background-image: url('/assets/img/Hosparus-Card-Hospice-Care-315X600.jpg');">
											<img class="visually-hide-image" src="/assets/img/Hosparus-Card-Hospice-Care-315X600.jpg" alt="">
										</div>
									</div>
									<div class="content-wrapper">
										<div class="content">
											<h1 class="h2 subtitle">Hospice Care</h1>
											<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
											<div class="buttons">
												<a class="btn" href="javascript:void(0)"><span>Learn More</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-footer">
									<div class="link-name">
										<span class="title">Hospice Care</span>
									</div>
								</div>
							</div>
						</li>

						<li class="item">
							<div class="link">
								<button class="close-btn" type="close"><i class="fal fa-plus"></i></button>
								<div class="item-content">
									<div class="image-wrapper">
										<div class="background-image" style="background-image: url('/assets/img/Hosparus-Card-Palliative-Care-315X600.jpg');">
											<img class="visually-hide-image" src="/assets/img/Hosparus-Card-Palliative-Care-315X600.jpg" alt="">
										</div>
									</div>
									<div class="content-wrapper">
										<div class="content">
											<h1 class="h2 subtitle">Palliative Care</h1>
											<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
											<div class="buttons">
												<a class="btn" href="javascript:void(0)"><span>Learn More</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-footer">
									<div class="link-name">
										<span class="title">Palliative Care</span>
									</div>
								</div>
							</div>
						</li>

						<li class="item">
							<div class="link">
								<button class="close-btn" type="close"><i class="fal fa-plus"></i></button>
								<div class="item-content">
									<div class="image-wrapper">
										<div class="background-image" style="background-image: url('/assets/img/Hosparus-Card-Grief-Counseling-315X600.jpg');">
											<img class="visually-hide-image" src="/assets/img/Hosparus-Card-Grief-Counseling-315X600.jpg" alt="">
										</div>
									</div>
									<div class="content-wrapper">
										<div class="content">
											<h1 class="h2 subtitle">Grief Counseling</h1>
											<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
											<div class="buttons">
												<a class="btn" href="javascript:void(0)"><span>Learn More</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-footer">
									<div class="link-name">
										<span class="title">Grief Counseling</span>
									</div>
								</div>
							</div>
						</li>

						<li class="item">
							<div class="link">
								<button class="close-btn" type="close"><i class="fal fa-plus"></i></button>
								<div class="item-content">
									<div class="image-wrapper">
										<div class="background-image" style="background-image: url('/assets/img/Hosparus-Card-Kourageous-Kids-315X600.jpg');">
											<img class="visually-hide-image" src="/assets/img/Hosparus-Card-Kourageous-Kids-315X600.jpg" alt="">
										</div>
									</div>
									<div class="content-wrapper">
										<div class="content">
											<h1 class="h2 subtitle">Kourageous Kids</h1>
											<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
											<div class="buttons">
												<a class="btn" href="javascript:void(0)"><span>Learn More</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="item-footer">
									<div class="link-name">
										<span class="title">Kourageous Kids</span>
									</div>
								</div>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
