<section id="hero-style-1" class="layout hero style-1">
	<div class="wrapper">
		<h2 class="style-title">Hero Style One</h2>
		<div class="row">
			<div class="col">
				<div class="content-wrapper">
					<div class="component intro">
						<h1 class="h2 subtitle">We don’t just listen to you. We hear you.</h1>
					</div>
					<div class="image-wrapper">
						<div class="background-image" style="background-image: url('https://via.placeholder.com/450x630');">
							<img class="visually-hide-image" src="https://via.placeholder.com/500x730" alt="">
						</div>
					</div>
					<div class="content">
						<p>Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
						<div class="buttons">
							<a href="javascript:void(0)" class="btn"><span>Schedule a Speaker</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
