<section id="hero-style-4" class="layout hero style-4 story-line-top story-line-bottom">
	<div class="wrapper">
		<h2 class="style-title">Hero Style Four</h2>
		<div class="row story-lines">
			<div class="col one">
				<div class="component intro">
					<div class="wrapper">
						<h1 class="title">Title Here</h1>
						<h2 class="h2 subtitle">A place where compassion and volunteers become one.</h2>
					</div>
				</div>
				<p>Being a not-for-profit organization means we can offer more to our patients and the communities we serve, but we can always use your support.</p>
			</div>
			<div class="col two">
				<div class="buttons">
					<a href="javascript:void(0)" class="btn"><span>Donate Now</span></a>
				</div>
			</div>
			<div class="image-1" style="background-image: url('assets/img/iStock-979251076_mauve.jpg');"></div>
			<div class="col three">
				<div class="buttons">
					<a href="javascript:void(0)" class="btn"><span>Volunteer</span></a>
				</div>
			</div>
			<div class="image-2" style="background-image: url('assets/img/iStock-979251076_mauve.jpg');"></div>
		</div>
	</div>
</section>
