<div class="icon">
	<time class="date h5" datetime="2019-09-10">Sept<br>10</time>
</div>
<div class="content">
	<div class="heading">
		<ul class="event-details">
			<li><h2 class="h4 title">Loss of Spouse or Partner</h2></li>
			<li><time class="p" datetime="2019-09-10">September 10, 2019</time></li>
			<li><time class="p" datetime="17:00:00">5:00 pm &ndash; 7:00 pm</time></li>
			<li><a class="p" href="javascript:void(0)">Louisville, KY</a></li>
		</ul>
		<div class="image-wrapper">
			<div class="image" style="background-image: url('assets/img/iStock-906043636.jpg');">
			</div>
		</div>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	<div class="footer">
		<div class="buttons">
			<a href="javascript:void(0)" class="btn"><span>View Event</span></a>
		</div>
		<ul class="social">
			<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter"></i></a></li>
		</ul>
	</div>
</div>
