<div class="icon">
	<img class="leaf" src="assets/img/leaf-logo.png">
</div>
<div class="content">
	<div class="heading">
		<h2 class="h4">Name of a Page</h2>
	</div>
	<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
	<div class="buttons">
		<a href="javascript:void(0)" class="btn"><span>View Page</span></a>
	</div>
</div>
