<section id="listing-article-grid" class="layout listing article grid background">
	<h2 class="style-title">Listing - Article (grid)</h2>
	<div class="component intro">
		<div class="wrapper">
			<h1 class="h2 subtitle">It’s okay to not feel okay.</h1>
		</div>
	</div>
	<div class="description">
		<div class="wrapper">
			<p>Hospice is for people who have been terminally diagnosed with an expected 6 months or less. It is completely covered by Medicare and it has proven time after time to improve the quadivty of divfe for patient and family. Typically speaking the sooner
				we can engage, the better the outcomes. We’ve heard story after story about how gratefdiv famidives are for choosing Hospice Care and all that comes with it.</p>
		</div>
	</div>
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<div class="content-wrapper">
					<ul class="item-list">
						<li class="item" v-for="n in 3">
							@@include('article-item.html')
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
