<section id="locations-map" class="layout locations map">
	<div class="wrapper">
		<h2 class="style-title">Locations - Map</h2>
		<div class="row">
			<div class="col">
				<div class="intro">
					<h1 class="h2 subtitle">Hosparus Health Thrift Shoppe of Elizabethtown</h1>
				</div>
				<div class="content">
					<p class="italic"><a href="javascript:void(0)">101 Riverwood Ave., Suite Bowling Green, KY 42103</a></p>
					<p class="italic">Phone: 270&#8209;782&#8209;7258 or 800&#8209;264&#8209;0521</p>
					<p class="italic">Fax: 270&#8209;901&#8209;0843</p>
					<p class="italic">Grief Counseling: 502&#8209;456&#8209;5451 or 888&#8209;345&#8209;8197</p>
					<p class="description">Hosparus Health has community offices in Bowling Green, Campbellsville, Elizabethtown, Glasgow, Louisville and New Albany.  We are one of the largest nonprofit providers in the country, serving nearly 7,800 patients and their families in 37 counties in Kentucky and Southern Indiana.</p>
				</div>
				<div class="buttons">
					<a href="javascript:void(0)" class="btn"><span>More Information</span></a>
				</div>
			</div>
			<div class="col">
				<div class="map-wrapper">
					<div id="map" class="map">
					</div>
				</div>
				<div class="caption italic">
					<p>Serving the following counties: Breckingridge, Grayson, Hardin, LaRue, Meade</p>
				</div>
			</div>
		</div>
	</div>
</section>
