<section id="locations-map" class="layout locations map">
	<div class="wrapper">
		<h2 class="style-title">Locations - Map</h2>
		<div class="row">
			<div class="col">
				<div class="intro">
					<h1 class="title">Find a Hosparus Location near you.</h1>
				</div>
				<div class="content">
					<p>Hosparus Health has community offices in Bowling Green, Campbellsville, Elizabethtown, Glasgow, Louisville and New Albany.  We are one of the largest nonprofit providers in the country, serving nearly 7,800 patients and their families in 37 counties in Kentucky and Southern Indiana.</p>
				</div>
				<form class="" action="index.html" method="post">
					<div class="fieldset search-bar">
						<label for="search-field">
							<span class="text">Zipcode</span>
							<input id="search-field" type="text" name="Search" value="" placeholder="Enter your zipcode to find the location near you.">
						</label>
						<button id="search-submit" type="button" name="button">Search</button>
						<button type="reset">Reset</button>
					</div>
				</form>
			</div>
			<div class="col">
				<div class="map-wrapper">
					<div id="map" class="map">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
